@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');



body {
    font-family: "Space Grotesk", sans-serif;
  }


// font colours
$onyx: #2b2f2e;
$neon: #ffff55;
$mineral: #c3d2cd;  
$grey-light: #f0eded;
$shadow:rgba(0, 0, 0, 0.1);
$white: white;


// colors

$black : #000000;
$green : #87E152;
$blue : #B7DBE9;
$blue-light : #CDE6F0;
$red-light : #CE8A8B;
$yellow : #FCFC68;
$green-light : #B1E4D1;
$green-light2 : #C8EDDD;

body {
    font-family: "Space Grotesk", sans-serif;
    padding:2vh 8vw 0vh 8vw;
  }
